.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff; /* optional */
    z-index: 1; /* optional */
    display: flex;
    flex-direction: column;
}

.App-login-section {
    display: flex;
    margin-left: 20px;
    
}
.App-login-section ul li{
    margin-right: 25px;
}
.navigation li p {
    margin: 10px;
    color: grey;
    cursor: pointer;
    font-weight: bold;
}

.navigation li p:hover {
    color: #000;
}

.navigation ul {
    list-style: none;
    display: flex;
    margin-left: 20px;
    
    align-items:first baseline;
    justify-content: space-around;
}

.App-Login-section li p {
    padding: 10px; 
    color: grey;
    cursor: pointer;
      
}
  
 .navigation li p:active {
   color:black;
  }
.nav-1 ul li  {
    align-items: left;
    margin-left: 20px;
    float: left;
    display: grid;
    margin-right: 20px;
}

.App-login-section ul li button {
    background-color: aqua;
    border: none;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    height: 5vh;
    width: 14vh;
}

/*@media only screen and (max-width: 768px) {
    nav-1 li p {
        display: none;
    }
    .App-login-section ul {
        display: none;
    }
}*/