.hero-section {
    background-color: #f3efe2
}
.hero-header {
    text-align: center;
    align-items: center;
    display: grid;
    padding: 1px;
}
.hero-header p {
    padding-top: -0.05em;
    color: #696969;
}
.hero-header h1 {
    padding-bottom: -0.05em;

}

.hero-mini-section1 {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: none;
    flex: 1;
}

.custom1 {
    background-color: #250c29;
    align-items: center;
    display: grid;
    justify-content: center;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-attachment: fixed;
}

.hero-mini-section2 {
    background-color: white;
}
.hero-mini-section3 {
    background-color: white;
}

.hero-align {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px
}